{% extends "base_auth.html" %}
{% block content %}

<div class="signup-container">
  <h2><i class="fa-solid fa-lock-open"></i> Update Password</h2>

  {% if error %}
    <div class="flash" style="color:red;">{{ error }}</div>
  {% elif message %}
    <div class="flash" style="color:green;">{{ message }}</div>
  {% endif %}

  <form method="POST" class="signup-form">
    <div class="input-box">
      <i class="fa-solid fa-key"></i>
      <input type="password" name="new_password" placeholder="New Password" required>
    </div>

    <div class="input-box">
      <i class="fa-solid fa-lock"></i>
      <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    </div>

    <button type="submit">
      <i class="fa-solid fa-save"></i> Update Password
    </button>

    <p class="small-text">
      Remember your password? <a href="{{ url_for('login') }}" class="blue">Log in</a>
    </p>
  </form>
</div>

{% endblock %}